*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
/*=====================Restaurant_Nenu Style===================*/
.navbar{
    background-color: rgb(247, 119, 0);
}
#slider{
    background-color: rgb(245, 46, 79);
}